---
layout: default
title: Chiles.xyz
cover: 'assets/images/toofarnorth-Chiles_at_the_Market.jpg'
class: 'home-template'
navigation: True
logo: 'assets/images/peperoncino.png'
current: home
img_link: 'photos/toofarnorth'
img_attr: 'Karyn Christner'
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /><h4>{{ page.title }}</h4></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">{{ site.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content inner" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    <h2 class="intro">Peppers of the Week</h2>
    {% for pepper in site.peppers %}
      <a href="{{ site.url }}{{ pepper.url }}"><h4>{{ pepper.title }}</h4></a>
      <p><strong>Avg. Heat:</strong> {{ pepper.avg_heat }} scoville units.</p>
    <hr />
    {% endfor %}

    <script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_tracking_id = "loucalnet-20";
    amzn_assoc_ad_mode = "search";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_linkid = "d8f8a462d4baa896c36d49a64dd0dd2c";
    amzn_assoc_default_search_phrase = "Chile peppers";
    amzn_assoc_title = "General Pepper Stuff";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

</main>
